{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block content %}
{% with messages = get_flashed_messages() %}
 {% if messages %}
     {% for message in messages %}
         <h3 style="color: green"> {{ message }} </h3>
     {% endfor %}    
{% endif %}
{% endwith %}

<div class="picture">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp" alt="Login" width="400" height="600">
</div>

<div class="container">

  <form class="form-signin" method="POST" action="/login">
    <h4 class="form-signin-heading">Please sign in</h4>
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username) }}
    {{ wtf.form_field(form.password) }}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
  </form>
</div> <!-- /container -->

<style>
  .picture img{
    position: absolute;
    visibility: visible;
    left: 230px;
    top: 150px;   
  }

  .form-signin {
    justify-content: center;
    margin-top: 250px;
    width: 300px;
    padding: 10px;
    margin-left: 650px;
  }

  .btn {
    margin-top: 10px;
  }
</style>
{% endblock %}



 