
{% extends "layout.html" %}
<head>
   <!-- <link href="dashboard.css" rel="stylesheet"> -->
    <link href= "{{ url_for('static', filename='dashboard.css')}}" rel="stylesheet">
</head>


<body>
{% block content %}
 <h4>Dashboard <small>Welcome {{session.username}}</small></h4>
 <!--<a class = "btn btn-primary" href="/add_task">Add Task</a>-->
 <div class="form">
    <form action="/add" method="post">
        <input type="text" name="task" required placeholder="Add a new task to do">
        <p style="font-family:verdana">
            Choose a team member: <p> <SELECT name="team_members_usernames" style="font-family:verdana" value ="{{ team_members}}">
            {% for t in team_members %} 
                <OPTION value="{{t[0]}}">{{t[0]}}</OPTION>
            {% endfor %}
            </SELECT>
            </p>
            </p>
        <button> Save </button>
    </form>
</div>

<div class="dropdown">

</div>

<div class="row">
    <!--Begin Column To Do-->
    <div class="column">
        <h2>To Dos</h2>
        {% for task in to_do %}
        <!--begin Card To Do -->
        <div class="card">
            <div class="card-header">
                <!-- {{ loop.index }} iterates on the index of tasks and gives back number-->
                <h5 class="card-title">To Do Nr: {{ loop.index}} </h5>
            </div>
            <!--Begin Card Body-->
            <div class="card-body">    
                     <li>{{ task.task }}</li>
                     <li>{{ task.team_member }} </li>
                     <!--Begin Comment-Session -->
                     <li> Leave a comment </li>            
                         <ol>
                            {% for comment in task.comments %}
                            <li> 
                            {{ comment.text }} 
                            </li> 
                            {% endfor %}
                        </ol>
            <!--Comment Form -->
            <form class="input-group mb-3" method="POST" action="/create-comment/{{task.id}}">
                <input 
                 type="text" 
                id="text" 
                name="text" 
                class="form-control" 
                placeholder="Comment here" 
                />
                <button type="submit" class="btn btn-primary"> Comment </button>
            </form> 
            <br/>
        <!--End Comment Session-->

        <!--Buttons to move Task-->
                <button><a href="{{ url_for('change_status', id=task.id, status='doing') }}">Mark as doing</a></button>
                <button><a href="{{ url_for('change_status', id=task.id, status='done') }}">Mark as done</a></button>
                <button><a href="{{ url_for('delete', id=task.id) }}">Delete task</a></button></li>         
          
        </ul>
        <!--End Card Body-->
        </div>
        <!--End Card -->
    </div>
    {% endfor %} 
    <!--End Column To Do-->    
    </div>
    <br/>
    <div class="column">
       <h2>Task in progress</h2>
       <ul>
       {% for task in doing %}
           <li> {{ task.task }} </li>
           <li> {{ task.team_member }} </li>
           <li>
                <button><a href="{{ url_for('change_status', id=task.id, status='done') }}">Mark as done</a></button>
                <button><a href="{{ url_for('delete', id=task.id) }}">Delete task</a></button></li>
        {% endfor %}    
        </ul>
    </div>
    <div class="column">
    <h2>Task done</h2>
        <ul>
        {% for task in done %}
           <li>{{ task.task }}</li>
           <li>{{ task.team_member }}</li>
           <li>
                <button><a href="{{ url_for('delete', id=task.id) }}">Delete task</a></button></li>
        {% endfor %}
        </ul>
    </div>
</div>
    {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
    {% endfor %}   
    
    <style>
        .form{
          justify-content: center;
          margin-top: 40px;
          padding: 10px;
          margin-left: 300px;
        }
        .row {
         justify-content: center;
          margin-top: 10px;
          padding: 10px;
          margin-left: 300px;
        }
     </style>
{% endblock %}
</body>

